table {
    .cursor-pointer {
        cursor: pointer;
    }
    img {
        width:50px;
        float:left;
    }
    .bookName {
        word-break: break-all;
        padding-left: 5px;
    }
    .btn {
        display: block
    }
}